@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FuturaBold';
    src: url('./assets/fonts/Futura Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Isidora';
    src: url('./assets/fonts/isidora-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Isidora', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'FuturaBold', sans-serif;
}

@keyframes float {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: float 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.fade-in-up {
    animation: fadeUp 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}